* {
   margin:0;
    padding:0;
    box-sizing: border-box;
}


html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 100vh;
    background-color: rgb(4, 22, 34);
    
  }

.bg_space {
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: url('./photos/photo-1678971185029-7eec9e5433e0.jpeg');
    background-size: cover;
    font-family: "Norse Bold";
}

.form_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    color: rgb(221, 215, 198);
    gap: 3rem;
    font-size: 1.3rem;
    font-family:"IBM Plex Mono";
   
}

.form_sect> .form_header,p,button {
    margin-left: 2rem;
}

.create {
    display: flex;
    justify-content: left;
    align-items: left;
    
}


button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: rgb(37, 6, 77);
    background-color: rgb(190, 142, 176);
    font-weight: bold;

}

form {
    gap: 2rem;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: .1rem;
    border: .5rem;
    background-color: rgb(4, 24, 39);
    box-shadow: 0.8rem 0.5rem 0.5rem rgb(36, 65, 99);
    appearance: none;
    

}

legend {
    font-weight: bold;
    margin-top: -3rem;
    margin-bottom: .9rem;
    font-size: 1.5rem;
}

fieldset {
    display: flex;
    border: none;
    justify-content: flex-start;
    margin-top: .3rem;
    align-items: center;
    gap: 2rem;
    
}


.block {
    display: block;
    margin-top: .1rem;
    margin-right: 5rem;
}

input {
    
    display: flex;
    margin-top: .7rem;
    width: 120%;
    border-color: rgb(4, 24, 39);
    padding-top: 0.5rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(4, 24, 39);
    color: rgb(252, 248, 243);
    
}

input:focus {
    outline: none;
    background-color: rgb(198, 196, 199);
    border: .2rem solid rgb(49, 180, 219); 
    color: black;
}



@font-face {
    font-family: "Norse Bold";
    src: url('./fonts/Norse-Bold.otf')
};



