* {
   margin:0;
    padding:0;
    box-sizing: border-box;
}


html {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 100vh;
    background-color: rgb(4, 16, 34);
    
  }

.bg_space {
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: url('./photos/alex-knight-dPSc8w2zn-A-unsplash.jpg');
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 2, 0.7);
    height: 25%;
    margin-top: 5rem;
    opacity: 1;

}

img {
    width: 50%;
}

.refbox {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 29rem;
}   

.reference {
    font-family: "IBM Plex Mono";
    font-size: small;
    font-weight: bolder;
    color: rgb(177, 173, 164);
}

.reflink {
    color:  rgb(214, 208, 190);
    font-family:'Chakra Petch';
}

.form_sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    color: rgb(157, 155, 168);
    gap: 2.5rem;
    font-size: 1.2rem;
    font-family:'Chakra Petch';
    line-height: 1.5;
   
}

.form_sect> .form_header,p,button {
    margin-left: 2.4rem;
}

.form_header {
    margin-top: 1.6rem;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: .4rem;
}

.create {
    display: flex;
    justify-content: left;
    align-items: left;
}


button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    margin-left: 2.8rem;
    font-size: 1.1rem;
    color: rgb(36, 42, 68);
    width: 25%;
    background-color: rgb(172, 58, 138);
    font-weight: bold;
    cursor: pointer;
    
}

button:active {
    background-color: rgb(80, 33, 107);
    color:rgb(235, 220, 243);
}


form {
    padding: 2rem;
    padding-top: 0rem;
    margin-top: .1rem;
    border: .5rem;
    background-color: rgb(5, 16, 37);
    box-shadow: 0.8rem 0.5rem 0.5rem rgb(36, 65, 99);
    appearance: none;
    

}

legend {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .4rem;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

fieldset {
    display: flex;
    border: none;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items: center;
    gap: 1rem;
    
}

.para1,legend,.para2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 2rem;
}


.block {
    display: flex;
    flex-direction: column;
    margin-top: .1rem;
    margin-right: 5rem;
    width: 27%;
    gap:.2rem;

}

label {
    letter-spacing: .1rem;
    font-size:1rem;
    margin-bottom: -1rem;
}

input {
    
    display: flex;
    margin-top: .9rem;
    width: 120%;
    border-color: rgb(4, 24, 39);
    padding-top: 0.5rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(5, 16, 37);
    color: rgb(252, 248, 243);
    
}

input:focus {
    outline: none;
    background-color: rgb(213, 211, 214);
    border: .2rem solid rgb(100, 238, 231); 
    color: black;
} 


#user_password,#confirm_password:enabled {
    outline: none;
    border: .2rem solid rgb(219, 49, 49); 
}

 .error::after {
    content: "*Passwords do not match";
    font-size:x-small;
    position: absolute;

}

.login {
    text-decoration: none;
    color: rgb(196, 75, 159);
    font-weight: bold;
    font-family: 'Chakra Petch';
}


@font-face {
    font-family: "Norse Bold";
    src: url('./fonts/Norse-Bold.otf')
};



